@{
    ViewData["Title"] = "Home Page";

}
<link rel="stylesheet" href="~/css/StyleSheet.css">

<div class="text-center">
    <h6 class="slogan">"Your Journey Starts Here at the Library"</h6>
    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <section>
@*             <img src="images/imagesC.jpg" class="img-fluid" />
 *@        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h2>  What's new</h2><br>
@*                             <p><b>our 3 Fearures</b></p>
 *@                        </center>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img width="150px" src="images/allm.jpg" />
                            <h4>
                                German grammar
                            </h4>
                            <p class="text-justify">
                                German grammar applied from A2 to B1-B2.
                            </p>
                        </center>
                    </div>

                    <div class="col-md-4">
                        <center>
                            <img width="150px" src="images/DBP.jpg" />
                            <h4>
                                Dien Bien Phu
                            </h4>
                            <p class="text-justify">
                                A corner of Hell
                            </p>
                        </center>
                    </div>

                    <div class="col-md-4">
                        <center>
                            <img width="150px" src="images/Engl.jpg" />
                            <h4>
                                Revise your words! A1-A2
                            </h4>
                            <p class="text-justify">
                                Basic English Vocabulary Review Workbook (with audio files)
                            </p>
                        </center>
                    </div>



                </div>

            </div>
        </section>
        <section>
@*             <img src="images/imagesC.jpg" class="img-fluid" />
 *@        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h2>
                                Selection of librarians
                            </h2><br />
@*                             <p><b>our 3 Fearures</b></p>
 *@                        </center>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <img width="150px" src="images/MED.jpg" />
                            <h4>
                                Become your best self
                            </h4>
                            <p class="text-justify">
                                Basic needs, motivation and personality.
                            </p>
                        </center>
                    </div>

                    <div class="col-md-4">
                        <center>
                            <img width="150px" src="images/media.jpg" />
                            <h4>
                                Guidel Media Library
                            </h4>
                            <p class="text-justify">
                                It's all in your gut: weight, mood and long-term health
                            </p>
                        </center>
                    </div>

                    <div class="col-md-4">
                        <center>
                            <img width="150px" src="images/bebe.jpg" />
                            <h4>
                                Neupré Library
                            </h4>
                            <p class="text-justify">
                                Feed my child from 0 to 1 year old well
                            </p>
                        </center>
                    </div>



                </div>

            </div>
        </section>

    </asp:Content>
</div>
